<div ng-controller='PollController'>
	<div class="container">
    <nav class="navbar navbar-right">
        <div class="container-fluid">
			<ul>
				<li><a href='#/create'>Create a new poll</a></li>
				<li><a href='#/logout' ng-click="logout()">Logout</a></li>
			</ul>
        </div>
</nav>
<div class="main col-md-8">
	<h3>Current Polls:</h3>
<div class="row">
	<input class="pull-right" type='text' ng-model='filterer' placeholder='Search'>
</div>
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>Survey Question</th>
			<th>Date Posted</th>
			<th>Action</th>
		</tr>
		<tr ng-repeat='poll in polls | filter:filterer'>

			<td>{{poll._user.name}}</td>
			<td> <a href="#/poll/{{poll._id}}">{{poll.question}}</a> </td>
			<td>{{poll.created_at | date : 'MMM d yyyy'}}</td>
			<td ng-if='poll._user._id == current_user._id'> <button class="btn btn-danger" ng-click='deletePoll(poll)'>Delete</button> </td>

		</tr>
	</table>
</div>
</div>
